<!DOCTYPE html>

<link rel="stylesheet" href="{{ url_for('static', filename='styles/base.css') }}">
{% block styles %}
{% endblock %}

<meta name="viewport" content="width=device-width, initial-scale=1">

<title>Hungry Python - Official Cardiff University Game</title>

{% block head %}
<div class="sg-header">
    <div class="sg-header-left">
        <button class="sg-header-button"><a href="{{ url_for('indexPage') }}">Main Menu</a></button>
        <button class="sg-header-button"><a href="{{ url_for('creditsPage') }}">Credits</a></button> <!-- FIXME: change link value -->
    </div>
    <div class="sg-header-middle">
        <img id="sg-logo" class="sg-logo" src="{{ url_for('static', filename='images/logo-inverted.png') }}"/> <!-- FIXME: image change --> 
    </div>
</div>
{% endblock %}

{% block content %}{% endblock %}

{% block scripts %}{% endblock %}

{% block footer %}
<div class="sg-footer">
    <h4>Copyright &#169 2025 - HHZN, NS, SN, MOA & MFT - (NOT SPONSORED BY NOKIA)</h4>
</div>
{% endblock %}