<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="mainMenu.css">
    <title>Konrad Zuse</title>
</head>
<body>
<div class="background-2">
<div class="main-header">
<h1>Snake Game</h1>
    </div>
            <div class="nav-menu">
            <a href="static_website_background.html" > PLAY </a>
            <a href="static_website_contributions.html"> SETTINGS </a>
            <a href="static_website_relevance.html"> Credits </a>
</div>
</div>

</body>
</html>