{% extends "base.html" %}

{% block styles %}
<link rel="stylesheet" href="{{ url_for('static', filename='styles/end-game.css') }}">
{% endblock %}

{% block content %}
    <!-- Audio Element with ID for JavaScript Control -->
    <button id="startGameBtn">Start Game</button>

    <audio id="gameAudio">
        <source src="{{ url_for('static', filename='audio/end-game.mp3') }}" type="audio/mpeg">
        Your browser does not support the audio element.
    </audio>

    <div class="game-over-screen">
        <h1 class="game-over-text">GAME OVER</h1>
        
        <div class="stats-container">
            <div class="score-box">Final Score: 200</div>
            <div class="score-box">Best Score: 450</div>
        </div>

        <div class="buttons">
            <button class="button">Restart</button>
            <button class="button">View Score</button>
            <button class="button">Play Again</button>
        </div>
    </div>
{% endblock %}

{% block scripts %}
<script type="text/javascript" src="{{ url_for('static', filename='scripts/end-game.js') }}"></script>
{% endblock %}