{% extends "base.html" %}

{% block styles %}
<link rel="stylesheet" href="{{ url_for('static', filename='styles/jumpScare.css') }}">
{% endblock %}

{% block head %}{% endblock %}

{% block content %}
    <div class="sg-js-container">
        <div class="sg-js-img">
            <img id="imageDisplay" src="{{ url_for('static', filename='images/img-' + imgNumb|string + '.jpeg') }}" alt="Image will be displayed here" style=" height: 100vh; width: 150vh;">
        </div>
        <div class="sg-js-audio">
            <audio id="gameAudio">
                <source src="{{ url_for('static', filename='audio/jumpscare-94984.mp3') }}" type="audio/mpeg">  
                Your browser does not support the audio element.
            </audio>
            <button onclick="playAudio()">Play Audio</button>  <!-- Button to play the audio -->
            <script>
              function playAudio() {
              var audio = document.getElementById("gameAudio");
              audio.play();
              }
            </script>
        </div>
        <div class="sg-js-button">
            <button class="sg-header-button"><a href="{{ url_for('indexPage') }}">CLICK TO CONTINUE</a></button>
        </div>
    </div>
{% endblock %}

{% block footer %}{% endblock %}
