<link rel="stylesheet" href="{{ url_for('static', filename='styles/jumpScare.css') }}">
<img id="imageDisplay" src="{{ url_for('static', filename='images/img-' + imgNumb|string + '.jpeg') }}" alt="Image will be displayed here" style="width: 1700px; height: 800px;">

<audio id="gameAudio">
    <source src="{{ url_for('static', filename='audio/jumpscare-94984.mp3') }}" type="audio/mpeg">  
    
    Your browser does not support the audio element.
</audio>
<div class="sg-header">
    <div class="sg-header-left">
        <button class="sg-header-button"><a href="{{ url_for('indexPage') }}">CLICK TO CONTINUE</a></button>
    </div>
</div>
