@import url('https://fonts.googleapis.com/css2?family=New+Rocker&display=swap');

:root {
    --mft-primary-brand: #EB5B00;
    --mft-secondary-brand: #c84e02;
    --mft-text-one: #ffffff;
    --mft-text-two: #F1F1F1;
    --mft-text-header: #1e1e1e;
    --mft-background-one: #030303;
    --mft-background-two: #1e1e1e;
}

html,
body {
    background-color: var(--mft-background-two);
    color: var(--mft-text-two);
    font-family: 'New Rocker', normal;
    height: 100%;
    margin: 0;
    overflow: hidden;
    overflow-y: scroll;
}

.mft-header {
    background-color: var(--mft-primary-brand);
    display: grid;
    grid: 80px / 30% auto 30%;
    padding: 10px 20px;
    align-items: center; /* vertically align items in header */
    text-align: center;
}

.mft-logo {
    height: 75px
}

.mft-header-button {
    height: 30px;
    border: none;
    border-radius: 7px;
}
.mft-header-button a {
    text-decoration: none;
    font-weight: bold;
    color: var(--mft-text-header);
    fill: var(--mft-text-header);
    font-size: 15px;
}