:root {
    --mft-primary-brand: #EB5B00;
    --mft-secondary-brand: #c84e02;
    --mft-text-one: #ffffff;
    --mft-text-two: #F1F1F1;
    --mft-text-header: #1e1e1e;
    --mft-background-one: #030303;
    --mft-background-two: #1e1e1e;
}