canvas { /* FIXME: NEEDS MOVING THE GAME.CSS */
    height: 80vh;
    width: 90vh;
    background-image: url('https://png.pngtree.com/background/20250201/original/pngtree-cartoon-style-stone-tile-texture-picture-image_15273693.jpg');
    background-repeat: no-repeat;
    border: 1px solid white;
    /* height: 80vh;
    width: 90vh; */
  }

.sg-background-1 {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh; /* Full viewport height */
    background: url(../images/index.gif); /* Gradient background */
    background-size: cover;
    background-repeat: no-repeat;
}

.sg-main-header {
    height: 35%;
    top: 0;
}

.sg-buttonBox {
    display: flex;
    flex-direction: column; /* Arrange items vertically */
    align-items: center;
    gap: 20px; /* Spacing between sg-buttons */
    background-color: black;
    padding: 8px;
    border-radius: 8px;
}

.sg-buttonDesign {
    text-decoration: none; /* Remove underline */
    background-color: var(--sg-color-three); /* Button background color */
    color: var(--sg-text-one); /* Text color */
    padding: 15px 30px; /* Button size */
    border-radius: 8px; /* Rounded corners */
    font-size: 1.2rem; /* Font size */
    transition: background-color 0.3s; /* Smooth color change on hover */
}

.sg-buttonDesign:hover {
    background-color: var(--sg-text-two); /* Hover effect */
    color: var(--sg-color-three); /* Text color on hover */
}