.sg-js-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.sg-js-img {
    object-fit: fill;
}
.sg-js-button {
    transform: translatey(-50px);
}

/* .sg-header-button {
    height: 80px;
    width: 100px;
    border: none;
    border-radius: 7px;
}

.sg-header-button a {
    text-decoration: none;
    font-weight: bold;
    color: var(--sg-text-one);
    fill: var(--sg-text-one);
    font-size: 15px;
}
.sg-header-button:enabled {
    background: var(--sg-color-three);
}
.sg-header-button:hover {
    background: var(--sg-color-two);
} */
